@import "../scss/variables";
@import "../scss/placeholders";
@import "../scss/mixins";

body {
  @extend %web-site;
  background-color: rgb(236, 236, 236);
}

main,
header {
  margin: 0px 138px;
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  margin-bottom: 30px;
}

header {
  h1 {
    @include header-typography;
  }
}

main {
  h1 {
    @extend %main-h1;

    @media (max-width: 1410px) {
      text-align: center;
    }
  }
}

.section-1 {
  @include display-flex;

  @media (max-width: 880px) {
    @include display-flex($flex-direction: column);
  }

  div {
    @extend %div;

    @media (max-width: 1290px) {
      height: 315px;
    }
    @media (max-width: 1050px) {
      height: 280px;
    }

    @media (max-width: 880px) {
      width: 100%;
      height: 500px;
    }

    @media (max-width: 700px) {
      height: 450px;
    }
  }

  .img {
    width: 100%;

    @media (max-width: 880px) {
    }
  }
}

.h2 {
  @extend %h2;

  @media (max-width: 1250px) {
    font-size: 15px;
  }
  @media (max-width: 1000px) {
    font-size: 13px;
  }
  @media (max-width: 900px) {
    font-size: 10px;
  }

  @media (max-width: 880px) {
    font-size: 40px;
    text-align: center;
  }
}

.h2-2 {
  @media (max-width: 880px) {
    top: 730px;
  }
}

.h2-3 {
  @media (max-width: 880px) {
    top: 1260px;
  }
}

div {
  p {
    @extend %p;

    @media (max-width: 1290px) {
      margin-left: 15px;
    }

    @media (max-width: 900px) {
      margin-right: 15px;
    }

    @media (max-width: 880px) {
      text-align: center;
      font-size: 15px;
    }
  }

  .p1 {
    margin-top: 45px;
  }

  .p2 {
    margin-top: 8px;
  }

  .img {
    width: 320px;
  }

  .clock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 35px;
    margin-top: 20px;

    @media (max-width: 1290px) {
      margin-left: 20px;
    }

    @media (max-width: 880px) {
      margin-left: 185px;
    }
  }
}

.section-2 {
  @include display-flex;

  @media (max-width: 1410px) {
    @include display-flex($flex-direction: column);
  }
}

.section-img1 {
  @include display-flex($flex-direction: column);
  justify-content: space-around;
  height: 900px;

  P {
    @extend %h2;
    top: 780px;
    margin-left: 15px;

    @media (max-width: 880px) {
      top: 2000px;
    }
  }
}

.section-img2 {
  width: 365px;
  height: 700px;
  @include display-flex($flex-direction: column);

  @media (max-width: 1410px) {
    @include display-flex;
    width: 1200px;
    height: 400px;
  }

  @media (max-width: 1260px) {
    @include display-flex($flex-direction: column);
    flex-wrap: wrap;

    height: 500px;
    width: 900px;
  }
}

footer {
  height: 200px;
  background-color: #243043;
  margin-top: 30px;
  margin-left: 0px;
  display: flex;

  h6 {
    @extend %footer-h6;
  }

  p {
    @extend %footer-p;
  }
}

footer section {
  margin-left: 30px;

  @media (max-width: 680px) {
    margin-left: 15px;
  }

  @media (max-width: 550px) {
    margin-left: 10px;
  }

  @media (max-width: 500px) {
    margin-left: 3px;
  }
}

.footer-1 {
  display: flex;
}

footer img {
  width: 60px;
  margin-left: 390px;
  margin-top: 50px;

  @media (max-width: 1260px) {
    margin-left: 340px;
  }

  @media (max-width: 1220px) {
    margin-left: 310px;
  }

  @media (max-width: 1185px) {
    margin-left: 250px;
  }

  @media (max-width: 1105px) {
    margin-left: 200px;
  }

  @media (max-width: 1050px) {
    margin-left: 150px;
  }

  @media (max-width: 830px) {
    margin-left: 100px;
  }

  @media (max-width: 680px) {
    margin-left: 50px;
  }

  @media (max-width: 500px) {
    width: 45px;
  }
}
